@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300&display=swap') * {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open-sans, sans-serif;
    font-weight: 300;
    color: #9acd32
}

h1,
h2,
h3 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 3px;
    color: #cd853f
}

#logo {
    float: left;
    font-size: 240%;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 80%;
    letter-spacing: 3px;
    display: flex;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #006400;
}

#menu a:hover {
    border-bottom: 1px solid #9acd32;
}

.active {
    border-bottom: 1px solid #9acd32;
}

/* introduction paragraph */

#intro {
    float: left;
    width: 100%;
    margin-left: 20px;
}

/* table */

#table {
    float: left;
    width: 66%;
    margin-left: 20px;
}

tr {
    display: grid;
    grid-template-columns: 0.6fr 1.5fr 1fr;
}

tr,
td,
th {
    text-align: left;
}

th,
td {
    border: 1px solid #cd853f;
    padding: 5px;
}

/* videos */

#videos {
    float: right;
    width: 30%
}

/* footer styling */

footer {
    height: 150px;
}

/* social media links */

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #006400;
}

/* speaker images */

img {
    width: 288px;
    height: 192px;
}

/* speaker page styling */

.speaker {
    width: 50%;
    height: 50%;
    float: left;
}

#speaker-info {
    display: inline-block;
    width: 50%;     
}

/* register form */

div.form {
    display: block;
    text-align: center;    
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;    
    width: 65%;  
}

fieldset {
    border-color: #cd853f;
    border-radius: 4px;
}

legend {
    font-weight: bold;
    color: #cd853f;
}

input[type=text] {
    border: 2px solid #cd853f;
    border-radius: 4px;
    width: 30%   
}

input[type=email] {
    border: 2px solid #cd853f;
    border-radius: 4px;
    width: 30%
}

input:hover {
    background-color: #c0ec68;
}

input {
    color: #cd853f;
    outline: none;
}

label {
    width: 140px;
    display: inline-block; 
}

#attendance label {
    width: 300px;
}

#experience label {
    width: 300px;
}

#contact label {
    width: 300px;
}

/* find us */

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;    
    width: 65%;  
    height: 300px;    
}




