@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300&display=swap') * {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open-sans, sans-serif;
    font-weight: 300;
    color: #9acd32
}

h1,
h3 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 3px;
    color: #cd853f;
}

h2 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 3px;
    color: #cd853f;
    text-align: center;
}

/* logo */

#logo {
    font-size: 240%;
    background-color: #d2ec9d;
    text-align: center;
}

/* navigation links */

#menu {
    font-size: 80%;
    letter-spacing: 3px;
    text-align: center;
}

#menu li {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;    
}

#menu a {
    text-decoration: none;
    color: #006400;
}

#menu a:hover {
    border-bottom: 1px solid #9acd32;
}

.active {
    border-bottom: 1px solid #9acd32;
}

/* introduction paragraph */

#intro {
    width: 100%;
}

/* hyperlinks */

#intro p a {
    color: #006400;
    text-decoration: none;
}

#intro p a:hover {
    text-decoration: underline;
}

#register a button {
    color: #006400;
    display: inline-block;
    background-color: white;
    border-color: #006400;
}

#register a button:hover {
    background-color: #9acd32;
}

/* table */

#table {
    width: 700px;
}

tr {
    display: grid;
    grid-template-columns: 0.6fr 1.5fr 1fr;
}

tr,
td,
th {
    text-align: left;
}

th,
td {
    border: 1px solid #cd853f;
    padding: 5px;
}

/* read more button */

.collapsible {
    background-color: #d2ec9d;
    color: #cd853f;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
}

/* videos */

#videos {
    width: 300px;
    display: inline-block;
}

/* footer styling */

footer p {
    text-align: center;
    color: #006400;
    display: inline-flex;
    margin-top: 50px;
}

/* social media links */

.social-media {
    text-align: right;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1px;
    margin-left: 35px;
    margin-right: 35px;
    margin-block-end: auto;
    color: #006400;
}

/* speaker images */

img {
    width: 288px;
    height: 192px;
}

/* speaker page styling */

div.left {
    height: 250px;
    width: 700px;
}

div.right {
    height: 250px;
    width: 450px;
}

.container {
    height: 275px;
    width: 1000px;
    display: inline-flex;
}

#speaker-info {
    padding-left: 10px;
    position: absolute;
    width: 288px;
    display: inline-block;
    margin-top: 0px;
}

/* register form */

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 65%;
}

fieldset {
    border-color: #cd853f;
    border-radius: 4px;
}

legend {
    font-weight: bold;
    color: #cd853f;
}

input[type=text] {
    border: 2px solid #cd853f;
    border-radius: 4px;
    width: 30%
}

input[type=email] {
    border: 2px solid #cd853f;
    border-radius: 4px;
    width: 30%
}

input:hover {
    background-color: #c0ec68;
}

input {
    color: #cd853f;
    outline: none;
}

label {
    width: 100px;
    display: inline-block;
    padding-left: 20px;
}

#attendance label {
    width: 300px;
}

#experience label {
    width: 300px;
}

#contact label {
    width: 300px;
}

#contact-method {
    color: #006400;
    border-color: #006400;
}

#contact-method:hover {
    background-color: #9acd32;
}

#register {
    color: #006400;
    display: inline-block;
    background-color: white;
    border-color: #006400;
}

#register:hover {
    background-color: #9acd32;
}

/* find us */

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 65%;
    height: 300px;
}

h3 {
    text-decoration: underline;
}

h4 {
    color: #cd853f;
}

#icon {
    color: #cd853f;
}

#left-div {
    width: 50%;
    height: 100px;
    float: left;
    margin-left: 17.5%;
}

#right-div {
    width: 50%;
    height: 100px;
    margin-left: 50%;
}

#travel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 65%;
    padding-top: 50px;
}

#accessibility {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 65%;
    padding-top: 5px;
}

.link {
    color: #9acd32;
}

.link:hover {
    font-weight: bold;
}