@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300&display=swap') * {
    margin: 0;
    padding: 0px;
    border: none;
}

body {
    font-family: Open-sans, sans-serif;
    font-weight: 300;
    color: #9acd32;
    padding: 10px;
}

h1,
h3 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 3px;
    color: #cd853f;
}

h2 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 3px;
    color: #cd853f;
    text-align: center;
}

/* footer styling */

footer {
    display: inline-block;
    width: 100%;
    text-align: right;
}

footer span {
    text-align: center;
    color: #006400;
    margin-top: 50px;
    float: left;
}

footer div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}

footer div p {
    margin-bottom: 3px;
}

/* speaker images */

img {
    width: 288px;
    height: 192px;
}

/* Register Form */

fieldset {
    border-color: #cd853f;
    border-radius: 4px;
}

legend {
    font-weight: bold;
    color: #cd853f;
}

input[type=text] {
    border: 2px solid #cd853f;
    border-radius: 4px;
}

input[type=email] {
    border: 2px solid #cd853f;
    border-radius: 4px;
}

h3 {
    text-decoration: underline;
}

h4 {
    color: #cd853f;
}

/* title */

.title {
    font-size: 240%;
    background-color: #d2ec9d;
    text-align: center;
}

/* navigation links */

#menu {
    font-size: 80%;
    letter-spacing: 3px;
    text-align: center;
    padding-left: 0;
}

#menu li {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: #006400;
}

#menu a:hover {
    border-bottom: 1px solid #9acd32;
}

.active {
    border-bottom: 1px solid #9acd32;
}

/* introduction paragraph */

#intro {
    width: 100%;
}

/* hyperlinks */

#intro p a {
    color: #006400;
    text-decoration: none;
}

#intro p a:hover {
    text-decoration: underline;
}

#link-register {
    display: inline-block;

}

#link-register button {
    color: #006400;
    background-color: white;
    border-color: #006400;
}

#link-register button:hover {
    background-color: #c0ec68;
}

/* table */

.schedule {
    display: flex;
}

.schedule div {
    display: inline-block;
}

#table {
    width: 700px;
    padding-right: 20px;
}

#table tr td p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#table tr {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1.5fr;
}

#table tr,
td,
th {
    text-align: left;
}

#table th,
td {
    border: 1px solid #cd853f;
    padding: 5px;
}

/* videos */

.videos {
    width: 400px;
    padding-left: 60px;
}

.video-container {
    text-align: center;
    display: inline-block;
}

/* social media links */

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 25px;
    margin: 1px;
    margin-left: 35px;
    margin-right: 35px;
    color: #006400;
    margin-top: 24px;
}

/* speaker page styling */

.speaker-container {
    display: inline-block;
    width: 49%;
}

.speaker-container div {
    display: flex;
    padding-bottom: 10px;
}

.speaker-container div p {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
}

/* register form */

.form {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.details-container {
    display: inline-block;
    width: 100%;
}

.details-container div {
    display: inline-block;
}

.smaller-screen {
    display: none;
}

input:hover {
    background-color: #c0ec68;
}

input {
    color: #cd853f;
    outline: none;
}

label {
    width: 100px;
    display: inline-block;
    padding-left: 20px;
}

#attendance label {
    width: 300px;
}

#experience label {
    width: 300px;
}

#contact label {
    width: 300px;
}

#contact-method {
    color: #006400;
    border-color: #006400;
}

#contact-method:hover {
    background-color: #9acd32;
}

.button {
    text-align: right;
}

#register {
    color: #006400;
    background-color: white;
    border-color: #006400;
    width: 150px;
}

#register:hover {
    background-color: #9acd32;
}

/* find us */

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 65%;
    height: 300px;
}

.icon {
    color: #cd853f;
}

#left-div {
    width: 50%;
    height: 100px;
    float: left;
    margin-left: 17.5%;
}

#right-div {
    width: 50%;
    height: 100px;
    margin-left: 50%;
}

#travel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 65%;
    padding-top: 50px;
}

#accessibility {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 65%;
    padding-top: 5px;
}

.link {
    color: #9acd32;
}

.link:hover {
    font-weight: bold;
}

/* Media queries */
/* for larger to medium screens size from 1115px wide and down */

@media screen and (max-width: 1115px) {
    footer span {
        width: 100%;
    }

    .social-media {
        text-align: center;
    }

    #videos-container {
        text-align: left;
    }

    .speaker-container {
        width: 100%;
    }

    #smaller-screen {
        display: inline-block;
    }

    .larger-screen {
        display: none;
    }
}

/* for medium to small screens size from 800px wide and down */

@media screen and (max-width: 800px) {
    .schedule {
        display: inline-block;
    }

    #table {
        width: auto;
    }

    .form {
        width: 100%;
    }
}

/* for small screens size from 570px wide and down */

@media screen and (max-width: 570px) {
    .videos {
        padding-left: 10px;
    }

   .speaker-container div {
       display: inline-block;            
   }

   .speaker-container div p {
       padding-left: 0px;
   }

 }






